<ion-content>
  <ion-row>
    <ion-col size="4">
      <img src="{{perfil.foto_perfil}}" alt="foto de perfil" width="180px" height="180px" style="border-radius:15px; margin-left: 10%; margin-top: 5%;">
    </ion-col>
    <ion-col size="8" style="margin-top: 2%;">
      <ion-label><h1 style="font-size: 2em;">{{perfil.nome}}</h1></ion-label>
      <ion-label><h2 style="margin-bottom: 5%;">{{perfil.profissao}}</h2></ion-label>
      <ion-button style="margin-right: 2%; text-transform: capitalize;">seguir</ion-button>
      <ion-button style="text-transform: capitalize;">mensagem</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 5%;">
    <ion-col size="4" class="ion-text-center">
      <ion-label><p>{{metricas_sociais.curtidas}}</p></ion-label>
      <ion-label>Curtidas</ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-label><p>{{metricas_sociais.seguidores}}</p></ion-label>
      <ion-label>seguidores</ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-label><p>{{metricas_sociais.amigos}}</p></ion-label>
      <ion-label>Amigos</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item-divider></ion-item-divider>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label class="ion-text-center"><h1>Sobre</h1></ion-label>
    </ion-col>
    <ion-col size="12">
      <ion-label>{{perfil.biografia}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item-divider></ion-item-divider>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-label><h1>Postagens de Amigos</h1></ion-label>
    </ion-col>
  </ion-row>
  <ng-container *ngFor="let postagem of this.postagens">
    <ion-row>
      <ion-col size="1" style="margin-left: 5%;">
        <img src="{{postagem.perfil.foto}}" alt="foto de perfil" style="border-radius: 50%; width: 100px;">
      </ion-col>
      <ion-col size="8">
        <ion-label>{{postagem.perfil.nome}}</ion-label>
        <ion-label>{{postagem.perfil.mencao_perfil}}</ion-label>
        <ion-label><p>{{postagem.postagem.mensagem}}</p></ion-label>
        <img *ngIf="postagem.postagem.foto" src="{{postagem.postagem.foto}}" alt="imagem das postagens" style="width: 300px; margin-bottom: 5%;">
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
